* {
   margin: 0;
   padding: 0;
   border: 0;
      }

body
{
   width:100%; /*Largeur du block*/
   height:100%;
      background-color:rgb(62,62,62);
}
.mappemonde {
 float:right;
 margin-left:10px;
  border:2px solid white;
 
  }



h1{text-align:center; color:#FF8000;margin-top:10px; margin-left:5%;font-size:60px;  }
h2{text-align:center; color:#FF8000;margin-top:10px; margin-left:10%;font-size:30px;  }

p{text-align:left; color:white;margin-top:10px;margin-left:10%;margin-right:20px;font-size:25px;  }

a{text-align:center; color:white;font-size:30px; text-decoration:none; }
h3{text-align:center; color:white;margin-top:10px; margin-left:20px;font-size:20px;  }

img {margin-left:40%; margin-top:1%; height:15%; width:15%}
